<header class="header">
    <a href="#" class="logo">J.A DATATECH CONSULTING</a>
    <nav class="navbar">
        <a href="#" class="active">Accueil</a>
        <a href="#">Formations</a>
        <a href="#">Livres</a>
        <a href="#">Tarifs</a>
        <a href="#">Contact</a>
    </nav>
</header>


<section class="home">
    <div class="home-content">
        <h1>Bienvenue, Je suis Josue A.</h1>
        <h2>Consultant en Data Science</h2>
        <p>J.A. DATATECH CONSULTING démocratise l'accès aux domaines de la DATA avec des formations personnalisées, bien
        structurées, une pédagogie individualisée et des projets réels. Nos formations sont 100% pratiques et permettent de vite
        acquérir les compétences en Data Science, Machine Learning, programmation avec Python et R.</p>

        
        <div class="btn-box">
            <a href="#">Project</a>
            <a href="#">Coaching</a>
        </div>
    </div>
    <div class="image">
        <img src="/assets/ML960x0.jpeg" alt="image">
    </div>

    <div class="home-sci">
        <a href="#"><i class='bx bxl-facebook'></i></a>
        <a href="#"><i class='bx bxl-twitter'></i></a>
        <a href="#"><i class='bx bxl-linkedin'></i></a>
    </div>


</section>


<section class="banner">
    <h1>Mes dernieres videos</h1>
    <div class="videos">
        <iframe id="vid" width="350" height="250" 
            src="https://youtu.be/xz2b-N0f6Ow">
        </iframe>
        <iframe id="vid" width="350" height="250" 
            src="https://youtu.be/hKTI4d9RU8I">
        </iframe>
        <iframe id="vid" width="350" height="250" 
            src="https://youtu.be/KmZvTDuAiYc">
        </iframe>
        
    </div>
    
</section>

<footer class="footer">
    <h3>Copyright @2023 | armelrik.com</h3>
</footer>

